/* Contact info */
.single-contact {
    float: left;
    position: relative;
    width: 25%;
}
.information h4 {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    z-index: 2;
}
.information h4 span {
    color: #5e5e5e;
    font-weight: 700;
    padding-right: 10px;
}
.single-contact::after {
    background: #614a3d none repeat scroll 0 0;
    border-color: #614a3d;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    height: 90px;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 0;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 100%;
}
.single-contact:hover {
    border-color: #614a3d;
}
.single-contact:hover:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.information {
    border: 1px solid #eee;
    padding: 28px 0;
}
.single-contact:hover .information h4, .single-contact:hover .information h4 span {
    color: #ffff;
    top: 3px;
}

/* About area */
.about-text > h3 {
    color: #5e5e5e;
    font-family: "Cougette, cursive";
    margin-bottom: 21px;
    font-size: 36px;
}
.about-text > p:nth-child(2) {
    margin-bottom: 15px;
}
.about-text > p:nth-child(3) {
    margin-bottom: 46px;
}
.about-text {
    padding: 52px 0;
    position: relative;
    z-index: 2;
}

/* Special Area */
.special-area .container-fluid, .image-area .container-fluid {
   padding-left: 5px;
   padding-right: 5px;
}
.special-item, .single-imagem-item {
    float: left;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}
.item-content {
    position: relative;
}
.item-content img, .single-imagem-item img {
    max-width: 100%;
}    
.item-hover {
    background: rgba(0, 0, 0, 0,6) none repeat scroll 0 0;
    bottom: 10px;
    height: auto;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: auto;
}
.item-content:hover .item-hover {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.hover-text > h1 {
    color: #ffff;
    font-family: "Cougette", cursive;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.item-content:hover .hover-text > h1 {
    top: 25%;
}
.hover-text > p {
    bottom:28%;
    color: #ffff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding: 0;
    position: absolute;
    -webkit-transform: translate(100px);
            transform: translate(100px);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 20px;
    right: 20px;
}
.hover-content:hover p {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translate(0px);
            transform: translate(0px);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
}
.hover-text > h1:hover a {
    color: #be937b;
}
.hover-text {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.hover-text .price {
    bottom: 17%;
    color: #ffff;
    display: block;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: absolute;
    right: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
    -webkit-transition: all 0.3s ease 0.1s;
            transition: all 0.3s ease 0s;
}
.item-content:hover .price {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translate(0px);
            transform: translate(0px);
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
}

/* Booking area */
.booking-form input {
    margin-bottom: 20px;
}
.booking-form input:focus {
    color: #614a3d;
    border-color: #614a3d;
}
.booking-form input:focus:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    color: 614a3d;
}
.booking-form input:focus:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    color: 614a3d;
}
.booking-form input:focus::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    color: 614a3d;
}
.booking-form .default-btn {
    margin-top: 20px;
    padding: 0 98px;
}
.active.day {
    background: #614a3d none repeat scroll 0 0;
    color: #ffff;
}
.day {
    cursor: pointer;
    text-align: center;
}
.datepicker thead tr:nth-child(2) {
    background: #614a3d none repeat scroll 0 0;
    color: #ffff;
    text-align: center;
}
.datepicker-switch {
    text-align: center;
}
.datepicker {
    padding: 0;
}
.date-wrapper .datepicker {
    padding: 0 17px;
}
.datepicker .prev, .datepicker .next {
    cursor: pointer;
    font-size: 22px;
    padding: 0 8px;
}
.