.header-area{
    background-color: rgb(20, 20, 20);
}
.logo{}
.logo img {
    transition: all 0.5s ease 0s;
    width: 100%;
}
.logo a {
    display: inline-block;
}
.fixed {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
}
.content-wrapper {
    text-align: right;
}
.main-menu {
    display: inline-block;
}
.main-menu ul {}
.main-menu ul li {
    display: inline-block;
    position: relative;
}
.main-menu ul li a {
    color: #ffff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 47px;
    padding: 0 18px;
    position: relative;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.main-menu > nav > ul > li:hover > a {
    color: #614a3d;
}
.main-menu ul li ul {
    background: #ffff none repeat scroll 0 0;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding: 5px 18px;
    position: absolute;
    text-align: left;
    top: 100%;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 160px;
    z-index: 999;
}
.main-menu ul li:hover > ul {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: hidden;
}
.main-menu ul li ul li a {}
.main-menu ul li ul li {
    display: block;
    margin: 0;
    padding: 7px 0;
}
.main-menu ul li ul li a {
    color: #252525;
    display: block;
    font-size: 14px;
    line-height: 26px;
    padding: 0;
    text-transform: capitalize;
}
.main-menu ul li ul span {
    float: right;
    font-size: 15px;
    line-height: 20px;
    margin-right: 22px;
}
.main-menu ul li ul li:hover > a {
    padding-left: 5px;
}
.main-menu ul li ul li a:hover {
    display: none;
}
.main-menu ul li ul li > ul {
    left: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 17%;
    visibility: hidden;
}
.main-menu.text-left span {
    float: right;
}
.mobile-menu-area,
.mean-container
.mean-bar:after {
    display: none;
}
.mean-container .mean-bar {
    background: transparent none repeat scroll 0 0;
    min-height: 0;
    padding: 0;
}
.mean-container a.meanmenu-reveal {
    border: 1px solid #ffff;
    color: #ffff;
    margin-top: -58px;
    padding: 4px 5px;
    position: absolute;
}
.mean-container a.meanmenu-reveal span {
    background-color: #ffff;
}
.mean-container .mean-nav {
    margin-top: 0;
}
.headroom {
    -webkit-transition: -webkit-transform 200ms linear 0s;
            transition: -webkit-transform 200ms linear 0s;
    transition: transform 200ms linear 0s;
    transition: transform 200ms linear 0s, -webkit-transform 200ms linear 0s;
    will-change: transform;
}